@charset "utf-8" ;

body{
    color: #333333;
    margin:0;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}



a{
    color: #333333;
    text-decoration: none;
}

img{
    max-width: 100%;
    height:auto;
}


.hr1{
    border: none;
    background-color: #109954;
    width: 200px;
    height: 4px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin:0 50px;
}

h3{
    font-weight: bold;
    font-size: 32px;
    color: #109954;
    text-align: left;
}

h4{
    max-width: 650px;
    font-weight: bold;
    font-size: 16px;
}

.header{
    text-align: center;
    display: block;
    margin: 0 15px;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin:0 auto;
    height: 70px;
    align-items: center;
}
.logo-header{
    width: 130px;
    height: 33px;
}
.recruit-box{
    background-color: #FFE000;
    width: 151px;
    height: 48px;
    border-radius: 24px;
    filter:drop-shadow(3px 3px 10px rgba(0,0,0,0.16));
    font-weight:bold;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
}

.heading{
    padding: 0 15px;
    display: block;
}
.heading-inner{
    max-width: 1080px;
    margin: 80px auto 0 ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.heading-left{
    flex:52;
    max-width: 520px;
    margin: auto auto auto 0;
}
.heading-ttl{
    font-weight: bold;
    font-size: 36px;
}
.heading-2{
    height: auto;
    max-width: 400px;
    font-size: 16px;
    margin: 34px auto 40px 0;
}
.heading-2 br{
    display: none;
    max-width: 400px;
}
.heading-3{
    display: flex;
    max-width: 400px;
}
.contact{
    width: 166px;
    background-color: #109954;
    color:#FFFFFF;
    margin-right: 10px;
    height: 48px;
    border-radius: 32px;
    filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.16));
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
}
.siryou{
    width: 223px;
    background-color: #FFFFFF;
    border:2px #109954 solid;
    height: 48px;
    border-radius: 32px;
    filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.16));
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #109954;
}
.heading-right{
    flex:56;
    max-width: 560px;
}

.service{
    padding: 0 15px;
}
.service-inner{
    max-width: 1080px;
    display:block;
    margin: 120px auto 0;
    text-align: center;
}
.h2-ttl{
    display:flex;
    align-items: center;
    margin:0 209px;
}
.service-inner{
    display: block;
    margin: 109px auto;
}
.service-box-wrapper{
    width: 800px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
}
.service-box img{
    height: 200px;
}
.service-box p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.about-inner{
    display: block;
    max-width: 950px;
    display:block;
    margin: 120px auto 0;
    padding:0 15px;
}
.about-box{
    height: 278px;
    margin-top: 100px;
}
.about-box .about-body .about-inner {
    width: 50%;
}
.about-inner .about-box{
    display: flex;
    justify-content: space-between;

}
.about-inner .about-box:nth-child(odd){
    flex-direction: row-reverse;
}
.about-box img{
    width: 450px;    
}
.about-box img{ 
    filter: drop-shadow(0px 11px 20px rgba(0,0,0,0.16));
}
.about-img1{
    text-align: right !important;
}
.about-text1{
    width: 450px;
    height: 127px;
}
.about-text2{
    width: 450px;
    height: 97px;
}
.more{
    font-size: 18px;
    width: 166px;
    height: 48px;
    background-color: #109954;
    color:#FFFFFF;
    border-radius: 24px;
    filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.16));
    margin-top: 29px;
    text-align: center;  
    line-height: 48px;  
}

.news{
    margin: 120px 15px 0;
    text-align: center;
    display: block;
}
.news-inner{
    display: block;
    max-width: 1080px;
    margin: 101px auto 0;
}
.news-box{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin:20px 0;
}
.news-box-right{
    flex-basis: 650px;
    text-align: left;
    display: block;
    flex-wrap: wrap;
}
.news-box1{
    display: flex;
}
.news-box img{
    max-width: 300px;
    flex-basis: 300px;
}
.news-box time{
    font-weight: bold;
    font-size: 16px;
}
.news-box h4{
    margin: 20px auto 0 0;
}
.news-box p{
    max-width: 650px;
    height: auto;
    font-size: 16px;
    margin-top: 20px;
}
.category{
    margin-left: 28px;
    width: 101px;
    height: 26px;
    color: #109954;
    background-color:#FFFFFF;
    border-radius: 13px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #109954;
    text-align: center;
    line-height: 2;
}
.news input{
    text-align: center;
}
.more2{
    font-size: 18px;
    width: 166px;
    height: 48px;
    background-color: #109954;
    color:#FFFFFF;
    border-radius: 24px;
    filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.16));
    margin: 50px auto 0;
    text-align: center;  
    line-height: 48px;  
}
.hr2{
    background-color: #D6D6D6;
    max-width: 1000px;
    height: 1px;
    border: none;
}

.footer{
    text-align: center;
    display: block;
    margin: 100px 0 0;
    padding: 25px 15px 14px;
    width: 100%;
    height: 135px;
    background-color: #E8E8E8;
    box-sizing:border-box;

}
.footer-inner{
    max-width: 1080px;
    display: flex;
    justify-content:space-between;
}
.footer-inner img{
    width: 70px;
    height: 70px;
}
.footer-inner ul{
    display: flex;
    align-items: center;
}
li{
    font-size: 14px;
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    padding: 0 18px;
    color:black;
}
li + li {
    border-left: 1px solid #333;
  }
.footer small{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width:768px){
    
    .hr1{
        width: 94px;
    }
    
    h2{
        font-size: 28px;
        margin:0 50px;
    }
    

    .header{
        width: 100%;
        margin:0 0;
        box-sizing:border-box;
        padding:0 15px;
}
    .logo-header{
        width: 110px;
        height: 28px;
    }

    .heading-inner{
        text-align: center;
        width: 100%;
        height: auto;
        margin:10px 0 0;
        display: block;
        box-sizing:border-box;
        padding:0 15px;

    }
    .heading-left{
        width: 100%;
        display: block;
        text-align: center;
    }
    .heading-ttl{
        width:196px;
        font-size: 28px;
        margin: 0 auto 22px;
    }
    .heading-2{
        width: 100%;
        height: auto;
        margin: 0 auto 20px;
    }
    .heading-2 br{
        display: inline;
    }
    
    .heading-3{
        display: inline-block;
    }
    
    .heading-right{
        height: auto;
    }
    .contact{
        margin-bottom: 15px;
        display: inline-block;
    }

    .service{
        width: 100%;
        margin:80px 0 0;
        display: block;
        box-sizing:border-box;
        padding:0 15px;

    }
    .h2-ttl{
        margin: 0 0;
    }
    .service-inner{
        margin:80px 0 0 0;
    }
    .service-box{
        margin-bottom: 50px;
    }
    .service-box p{
        margin-bottom: 0;
    }
    .service-box-wrapper{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }

    .about{
        width: 100%;
        height: auto;
        margin:50px 0 10px;
        display: block;
        text-align: center;
        box-sizing:border-box;
        padding:0 15px;
    }
    .about-box{
        margin-top: 70px;
    }
    .about-inner .about-box{
        display:block;
        height: auto;
    }
    .about-box .about-body{
        width: 100%;
    }
    .about-inner .about-box img{
        width: 100%;    
    }
    .about-text1{
        width: 100%;
        height: auto;
        text-align: left;
    }
    .about-text2{
        width: 100%;
        height: auto;
        text-align: left;
    }
    .more{
        margin: 30px auto 0;
    }

    
    .news{
        width: 100%;
        height: auto;
        margin:100px 0 0;
        display: block;
        box-sizing:border-box;
        padding:0 15px;
    }
    .news-inner{
        margin: 0 0;
        text-align: center;
    }
    .news-box{
        width: 100%;
        height: auto;
        display: block;
    }
    .news-box img{ 
        display: block;
        margin:0 auto 18px;
    }
    .news-box-right{
        width: 100%;
    }
    .news-box p{
        width: 100%;
        height: auto;
        margin: 24px 0 0 0;
        text-align: left;
    }
    .hr2{
        width: 100%;
    }
    .more2{
        margin-top: 30px;
    }
    h3{
        margin:50px auto 0 0;
    }


    .footer{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0 10px 20px;
        box-sizing:border-box;
    }
    .footer-inner{
        margin-top:30px;
        display: inline-block;
        width: auto;
        height: auto;
    }
    .footer-inner ul{
        margin: 23px 0 40px 0;
        padding: 0 0;
        display: block;
        text-align: center;
    }
    li{
        margin: 12px 0 0 0;
        padding: 0 0;
    }
    li + li {
        border-left: none;   
    }
    .footer-small{
        margin: 40px 0 0;
    }

}
