@charset "utf-8" ;

body{
    color: #333333;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}



a:link{
    color: #333333;
    text-decoration: none;
}

img{
    max-width: 100%;
    height:auto;
}

.hr1{
    border: none;
    background-color: #109954;
    width: 200px;
    height: 4px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin:0 50px;
}

h3{
    font-weight: bold;
    font-size: 32px;
    color: #109954;
    text-align: left;
}

h4{
    width: 650px;
    font-weight: bold;
    font-size: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin:0 100px;
    height: 70px;
    align-items: center;
}
.logo-header{
    width: 130px;
    height: 33px;
}
.recruit-box{
    background-color: #FFE000;
    width: 151px;
    height: 48px;
    border-radius: 24px;
    filter: drop-shadow(3px 3px 10px rgba(#00000029));
    font-weight:bold;
    font-size: 18px;
}

.heading{
    width: 1080px;
    margin: 80px 100px 0 100px;
    height: 448px;
    display: flex;
    justify-content: space-between;
}
.heading-left{
    margin: auto auto auto 0;
}
.heading-ttl{
    font-weight: bold;
    font-size: 36px;
}
.heading-2{
    height: 43px;
    width: 400px;
    font-size: 16px;
    margin-top: 34px;
    margin-bottom: 40px;
}
.heading-3 button{
    height: 48px;
    border-radius: 32px;
    filter: drop-shadow(3px 3px 10px rgba(#00000029));
    font-weight: bold;
    font-size: 18px;
}
.contact{
    width: 166px;
    background-color: #109954;
    color:#FFFFFF;
    margin-right: 10px;
}
.siryou{
    width: 223px;
    background-color: #FFFFFF;
    border:2px #109954 solid;
}
.heading-right{
    width: 560px;
    height: 448px;
}

.service{
    width: 1080px;
    margin-left:100px;
    margin-right: 100px;
    display:inline-block;
    margin-top: 120px;
    text-align: center;
}
.h2-ttl{
    display:flex;
    align-items: center;
    margin:0 209px;
}
.service-inner{
    margin: 109px 140px;
}
.service-box-wrapper{
    width: 800px;
    display:flex;
    justify-content:space-between;
}
.service-box img{
    height: 200px;
}
.service-box p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.about{
    width: 1080px;
    display:inline-block;
    margin: 120px 100px 0 100px;
    text-align: left;
}
.about-box{
    height: 278px;
    align-items: center;
    margin-top: 100px;
}
.about-box .about-body{
    width: 70%;
}
.about-inner .about-box{
    display: flex;
    justify-content: space-between;

}
.about-inner .about-box:nth-child(odd){
    flex-direction: row-reverse;
}
.about-inner .about-box img{
    width: 80%;    
}
.about-box img{
    filter: drop-shadow(0px 11px 20px rgba(#00000029));
}
.about-text1{
    width: 450px;
    height: 127px;
}
.about-text2{
    width: 450px;
    height: 97px;
}
.more{
    font-size: 18px;
    width: 120px;
    height: 36px;
    background-color: #109954;
    color:#FFFFFF;
    border-radius: 18px;
    filter: drop-shadow(3px 3px 10px rgba(#00000029));
    margin-top: 29px;
    text-align: center;    
}

.news{
    width: 1080px;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 120px;
}
.news-inner{
    margin: 101px 40px 0 40px;
}
.news-box{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 168px;
    margin:20px 0;
}
.news-box-right{
    display: flex;
    flex-wrap: wrap;
}
.news-box img{
    width: 300px;
    height: 168px;
}
.news-box time{
    font-weight: bold;
    font-size: 16px;
}
.news-box p{
    width: 650px;
    height: 44px;
    font-size: 16px;
}
.category{
    margin-left: 28px;
    width: 101px;
    height: 26px;
    color: #109954;
    background-color:#FFFFFF;
    border-radius: 13px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #109954;
    text-align: center;
    line-height: 2;
}
.news input{
    text-align: center;
}
.more2{
    display: block;
    width: 120px;
    height: 36px;
    background-color: #109954;
    color:#FFFFFF;
    border-radius: 18px;
    filter: drop-shadow(3px 3px 10px rgba(#00000029));
    margin-top: 50px;
    text-align: center;
    font-size: 18px;

}
.hr2{
    background-color: #D6D6D6;
    width: 1000px;
    height: 1px;
    border: none;
}

.footer{
    display: inline-block;
    margin-top: 100px;
    width: 1280px;
    height: 135px;
    background-color: #E8E8E8;
}
.footer-inner{
    width: 1080px;
    height: 70px;
    margin:25px auto 12px auto;
    display: flex;
    justify-content: space-between;
}
.footer-inner img{
    width: 70px;
    height: 70px;
}
.footer-inner ul{
    display: flex;
    align-items: center;
}
li{
    font-size: 14px;
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    padding: 0 18px;;
}
li + li {
    border-left: 1px solid #333;
  }
.footer small{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 14px;
}

@media screen and (max-width:480px){
　　　.header{
        width: 375px;
        margin:0 15px;
}

    .heading{
        width: 375px;
        margin:10px 15px 0 15px;
        
    }
}
